.game-start {
  background-color: #5a1e76;
  /* border: 3px solid black; */
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: fit-content;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: auto;
  height: max-content;
  width: max-content;
  margin: 10px;
  /* position: absolute; */
  min-height: max-content;
  /* top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%; */
}
.logo-text {
  font-size: 100px;
  display: flex;
  font-weight: 900;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 20px;
  margin-top: 200px;
  flex-wrap: wrap;
  /* margin-left: -12px; */
  /* overflow: hidden; */
}
.logo-text p {
  margin-top: -6rem;
}
.logo-text span {
  margin-top: -6rem;
}
.history {
  display: flex;
  flex-direction: row;
  font-family: "fredoka";
  font-size: 10px;
  font-weight: 600;
}
.history div {
  height: 50px;
  width: 60px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score {
  font-weight: 700;
  font-size: 16px;
  font-family: "inter";
}

#newGameButton {
  border: none;
  background-color: #f4f6f5;
  font-size: 14px;
  font-family: "fredoka";
  height: 2rem;
  width: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 4px;
  /* margin-top: 15%; */
  /* margin-bottom: 10%; */
  /* margin-top: 18em; */
}
#newGameButton:hover {
  background-color: rgb(205, 52, 123);
  color: white;
}
#newGameButton:focus {
  background-color: rgb(205, 52, 123);
  color: white;
}
.game-area {
  background-color: #2b0040;
  height: max-content;
  width: max-content;
  margin: 20px;
  border-radius: 10px;
}
#gameStart{
  display: flex;
  justify-content: center;
  align-items: center;
}