.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.player-button {
  border-radius: 4px;
  background-color: #43115b;
  float: left;
  font-size: 34px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin: 5px;
  padding: 0;
  text-align: center;
  width: 60px;
  border: none;
}
button.player-button:hover {
  cursor: auto;
  background-color: rgba(90, 30, 118, 1);
}button.player-button:focus {
  cursor: auto;
  background-color: rgba(90, 30, 118, 1);
}

body {
  background-color: #43115b;
  padding: 0px;
  height: 100vh;
  width: 100vw;
}
.c-blue {
  color: #72cff9 !important;
}
.c-yellow {
  color: #dcbf3f;
}
.bg-blue {
  background-color: #72cff9 !important;
}
.bg-yellow {
  background-color: #dcbf3f !important;
}
